{% extends 'basic.html' %}
{% block body %}
    {%load static%}
    <section class="banner1" style=" position: relative;
    width: 100%;
    height: 105vh;
    background-image: url({% static 'images/homebanner.png' %});
    background-size: cover;
    background-position: center;
    padding: 200px 0 0 200px;">
        <div style="animation: fadein1 2s;">
            <h1 class="fitness">
                Fitness starts <br> with what you eat.
            </h1>
            <h4>
                Take control of your goals. <br> Track calories, break down ingredients, <br> and log activities with our Diet Planner.
            </h4>
        </div>
        
    </section>
    <section class="banner2" style="background-image: url({% static 'images/33.png' %}) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 650px 0 50px;
    display: flex;
    flex-direction: column;
    height: 50vh;">
        <h4>
            Introduction
        </h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quia eius similique voluptate labore rerum cumque ipsum corrupti quas alias perferendis officia ratione a voluptatem, vero corporis itaque ex dolorum.
        </p>
    </section>
    <section >
        <div class="mt-3 mb-5" style="text-align: center; ">
            <h2 style="font-weight: bold;">The Tools for Your Goals</h2>
        </div>
        <div style="margin: 0 400px; ">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/bodymass.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Body mass Calculator</h5>
                          <p class="card-text">
                              Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women. 
                          </p>
                          <hr class="m-0">
                          <p class="card-text">
                                Enter your weight and height using standard or metric measures.
                          </p>
                          <a href="/bodymass" class="btn btn-warning">Calculator</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/planner.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">What to eat??</h5>
                          <p class="card-text">Eat This Much creates personalized meal plans based on your food preferences, budget, and schedule. Reach your diet and nutritional goals with our calorie calculator, weekly meal plans, grocery lists and more. </p>
                          <a href="/dietplanner" class="btn btn-warning">Planner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <div class="mt-3 mb-2" style="text-align: center; ">
            <h2 style="font-weight: bold;">Our Team</h2>
        </div>
        <div class="wrap">
        
            <div class="row row2">
                <div class="col-md-4 col-sm-4 wrap2" >
                    <div class="outercircle" style="background-image: url({% static 'images/shubham.jpg' %});  background-size: 100px 100px;">
                        <div class="innercircle"><a target="_blank" href="https://www.linkedin.com/in/shubham-kardam/"><i class="fab fa-linkedin-in"></i></a></div>
                    </div>
                </div>
    
                <div class="col-md-4 col-sm-4 wrap2" >
                    <div class="outercircle" style="background-image: url({% static 'images/poonam.jpeg' %});  background-size: 100px 100px;">
                        <div class="innercircle"><a target="_blank" href="https://www.linkedin.com/in/pinky-yadav-586617188/"><i class="fab fa-linkedin-in"></i></a></div>
                    </div>
                </div>
    
                <div class="col-md-4 col-sm-4 wrap2" >
                    <div class="outercircle" style="background-image: url({% static 'images/raj.jpeg' %});  background-size: 100px 100px;">
                        <div class="innercircle"><a target="_blank" href="https://www.linkedin.com/in/raj-thakkar-665377193/"><i class="fab fa-linkedin-in"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  



    



    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script type="text/javascript">
    window.addEventListener("scroll", function(){
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
    </script>
    



{%endblock%}